
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	font-size: 25px;
}

.text {
	font-family: chinese-rocks, sans-serif;
	font-weight: 400;
    font-style: normal;
    font size: 60px;
    text-align: center;

}

.one {
	background-color: crimson;
	font-size: 45px;
}

.two {
	background-color: #f3b63f;
}

.three {
	background-color: #f7f6ea;
	font-size: 45px;
}

.four {
	background-color: crimson;
}

.five {
	background-color: #f3b63f;
	font-size: 45px;
}

.six {
	background-color: #f7f6ea;
}

.seven {
	background-color: crimson;
	font-size: 45px;
}

.eight {
	background-color: #f3b63f;
}

.nine {
	background-color: #f7f6ea;
	font-size: 45px;
}

.ten {
	background-color: crimson;
}

.eleven {
	background-color: #f3b63f;
	font-size: 45px;
}

.twelve {
	background-color: #f7f6ea;
}
