header {
	text-align: center;
}

body {
	background-color: #DE0034;
 	background-image: url("paper.gif");
}



h1	{
	font-family: milonguita, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: -150px;
	margin-bottom: -363px;


}

header {
	font-size: 115px;
}

.intro {
	text-align: left;
	font-size: 100px;
	text-decoration: line-through;
	text-shadow: rgb(#00000);
}


.h3 {
	font-family: 'Fahkwang', sans-serif;
	position: absolute;
	text-align: right;
	font-size: 130px;
}

a {
	color: black;
}

a:hover {
	color: orange;
	text-decoration: none;
}
 

.ingredients {
	font-family: kazimir, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 22px;
	text-align: left;
	padding: 60px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: right;
	color: #90B0FF;
}

.ingredients:hover {
	color: #C1E86E;
}

.instructions {
	font-family: kazimir, sans-serif;
	font-weight: 300;
	font-style: italic;
	text-align: left;
	font-size: 30px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 60px;
	text-align: right;
	color: #A2DEDC;
	
}

.instructions:hover {
	color: #74FFE8;
}

.method {
	font-family: kazimir, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 33px;
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	padding: 60px;
	text-align: right;
	color: #DECDAE;
	

}
.method:hover {
	color: #AEDEC3;
}

ul {
 	font-family: kazimir, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
	text-decoration: none;
	color: #90B0FF;
}
